@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html element styling */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

/* utility classes */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

label {
  padding: 1.2rem 1.2rem 1.2rem 0;
  display: inline-block;
}

/* header styling */
.header {
  background: #fff;
  display: flex;
  align-items: center;
  padding: 1.5em 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 5rem;
}

.header-text {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: 0px;
  color: #82a70c;
}

.header-text-2 {
  color: #42515f;
}

/* form styling */
.form-container {
  min-height: calc(100% - 80px);
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 65%;
  padding: 4.4em 10em 7.5em;
  background: #fff;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;
  margin: 2.5em 0 2.5em;
}

.form-heading {
  text-align: left;
  font-size: 2.8rem;
  line-height: 3.7rem;
  font-weight: 700;
  letter-spacing: 0px;
  color: #42515f;
  padding-bottom: 2rem;
}

.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.label {
  min-width: 14rem;
}

.label-text {
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: left;
  letter-spacing: 0px;
  color: #42515f;
}

.input {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
}

.profile-images-container {
  display: flex;
}

.profile-images-container > label {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 40px;
  border-radius: 50%;
  margin-left: 1.2rem;
}
